html, body, div,
h1, h2, h3, h4, h5, h6
form, label{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}
.sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  left: -9999px;
  top: -9999px;
}
